body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 14px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    width: 300px;
}


.button:hover {
    background-color: #2980b9;
}

.button.delete {
    background-color: #e74c3c;
}

.button.delete:hover {
    background-color: #c0392b;
}

.button.edit {
    background-color: #f1c40f;
    color: #333;
}

.button.edit:hover {
    background-color: #d4ac0d;
}

.button.back {
    
    background-color: #ffffff;
}

.button.back:hover {
    background-color: #7f8c8d;
}
